[Unit]
Description=Run Michael Business news cycle hourly

[Timer]
OnCalendar=hourly
RandomizedDelaySec=15m
AccuracySec=1m
FixedRandomDelay=true
Persistent=true
Unit=michael-news-cycle.service

[Install]
WantedBy=timers.target
